<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.magicwolf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/test_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PatientActivity"
            android:label="@string/app_name" />

        <service
            android:name=".notification.NotificationService"
            android:enabled="true"
            android:process="notifServiceHH" />

        <!--
        <receiver
            android:name=".notification.NotificationServiceReceiver"
            android:enabled="true"
            android:process=":procForHH" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
        <receiver
            android:name=".notification.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <!--
        <receiver
            android:name=".notification.NotificationsLoaderReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":procForHH">
        </receiver>
        -->
        <!--<service
            android:name=".notification.MyNotificationService"
            android:enabled="true"
            android:exported="true"
            android:process="procForHH"></service>-->
    </application>

</manifest>